@use '../abstracts' as *;

.accessibility-btn {
	@include position(fixed, null, null, 80px, 7%, 90);
	@include flex(column, center, center, 10px);
	max-width: 150px;
	@include pad-radius(19px 9px, 10px);
	border: 1px solid $white;
	background: $white;
	box-shadow: 0px 0px 6px 0px $accent;

	@include transition;

	@include media(mobile) {
		@include position(fixed, null, null, 70px, 2%, 90);
	}

	&:hover {
		color: $white;
		background: $accent;
	}

	@include media(tablet) {
		@include box(60px, 60px, 100%);
		padding: 0;
		border: none;
		box-shadow: none;
		background: none;
		max-width: auto;
		&:hover {
			color: none;
			background: none;
		}
	}

	span {
		display: block;
		@include text-style(18, 600, 20px, center);
		@include media(tablet) {
			display: none;
		}
	}

	img {
		display: none;
		@include media(tablet) {
			display: block;
		}
	}
}

.accessibility-menu {
	@include flex(column, center, center, 10px);
}

.size {
	width: 100%;
	@include text-style(20, 600, 25px, center);
	@include pad-radius(10px, 10px);

	&:hover {
		background: $bg;
	}
	&.active {
		background: $bg;
	}
}
