@use '../abstracts' as *;

.row {
	@include flex(row, center, center, 20px);
	@include media(mobile) {
		flex-direction: column;
		gap: 0;
	}
}
.input {
	width: 100%;
	margin-bottom: 10px;
	label {
		display: block;
		@include text-style(18, 600, 25px);
		margin-bottom: 5px;
		@include media(mobile) {
			font-size: rem(16);
		}
	}
	input {
		@include box(100%, 49px, 10px);
		padding: 14px 12px 12px 12px;

		border: 1px solid $grey;
		background: $white;

		@include text-style(16, 400, 20px);

		@include media(mobile) {
			padding: 14px 12px 12px 9px;
		}

		&::placeholder {
			color: #787878;
		}

		&:focus {
			border-color: $text;
		}
	}

	textarea {
		@include box(100%, 49px, 10px);
		padding: 14px 12px 12px 12px;

		border: 1px solid $grey;
		background: $white;
		resize: none;
		height: 103px;

		@include media(mobile) {
			padding: 14px 12px 12px 9px;
		}

		&::placeholder {
			color: #787878;
		}

		&:focus {
			border-color: $text;
		}
	}
}

.custom-checkbox {
	@include flex(row, flex-start, center);
	cursor: pointer;
	user-select: none;
	margin-top: 20px;
	margin-bottom: 20px;

	input {
		display: none;

		&:checked + .checkbox-icon {
			border-color: $text;

			i {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.checkbox-icon {
		@include center;
		@include box(20px, 20px, 5px);
		border: 1px solid $text;
		margin-right: 10px;
		@include transition;

		i {
			font-size: 18px;
			color: $text;
			@include transition;
			opacity: 0;
			transform: scale(0);
			pointer-events: none;
		}
	}

	.checkbox-label {
		@include text-style(16, 400, 20px);
		@include media(mobile) {
			@include text-style(14, 400, 20px);
		}
	}
}

.upload {
	label {
		display: block;
		@include text-style(18, 600, 25px);
		margin-bottom: 5px;
		@include media(mobile) {
			font-size: rem(16);
		}
	}
	button {
		color: $accent;
		@include text-style(18, 700, normal);
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: none;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		text-underline-position: from-font;
		@include media(mobile) {
			font-size: rem(16);
		}
	}
}

.custom-select {
	position: relative;
	width: 100%;
	margin-bottom: 10px;

	label {
		display: block;
		@include text-style(18, 600, 25px);
		margin-bottom: 5px;
		@include media(mobile) {
			font-size: rem(16);
		}
	}

	.select-input {
		position: relative;

		padding: 14px 12px 12px 12px;

		border: 1px solid $grey;
		background: $white;
		@include box(100%, 49px, 10px);

		@include text-style(16, 400, 20px);
		@include flex(row, space-between, center);
		cursor: pointer;

		.selected {
			display: block;
			pointer-events: none;
		}
		i {
			font-size: 26px;
			@include transition;
		}

		.options {
			opacity: 0;
			pointer-events: none;
			width: 100%;
			position: absolute;
			top: 59px;
			left: 0;
			background: $white;
			border: 1px solid $grey;
			height: auto;
			overflow-y: auto;
			z-index: 10;
			border-radius: 10px;
			transform: translateY(-10px);
			@include transition;

			li {
				@include text-style(18, 600, 25px);
				padding: 5px 12px;
				cursor: pointer;
				@include transition;

				&:hover {
					color: $accent;
					background-color: $bg;
				}
			}
		}

		&.open .options {
			transform: translateY(0);
			opacity: 1;
			pointer-events: all;
		}
		&.open .icon-chevron {
			transform: rotateX(180deg);
		}
	}
}
